/*********************************    
BIG SCREEN - LANDING PAGE
*********************************/


/****** GENERAL STYLES *******/

body {
    padding:50px 120px 0 120px
}


/****** HEADER *******/


header {
    margin-bottom: 7rem;
}


/****** TYPOGRAPHY AND FONT COLORS *******/

.article-text h1 {
    font-size: 84px;
}
.article-text p {
    font-size: 24px;
}

.article-text a {
    font-size: 18px;
}

#menu li {
    font-size: 18px;
}

.product-list li h2 {
    font-size: 24px;
}

.product-list-popular h3 {
    font-size: 32px;
}

.product-list-popular h4 {
    font-size: 24px;
}

.product-list-popular p {
    font-size: 16px;
}

.product-list-popular a {
    font-size: 18px;
}

.why-us_container h4 {
    font-size: 32px;
}

.why-us_container span {
    font-size: 40px;
}

.address h5 {
    font-size:17px ;
}

.address address {
    font-size: 15px;
}

.about p {
    font-size:16px;
}


.menu_product::before {
    top: 2rem;
    width: 51px;
}

.main-image {
    max-width: 846px;
    height: 846px;
}

.header-logo {
    max-width: 100px;
    height: 50px;
}

.nav-link {
    font-size: 18px;
}

.article-text {
    max-width: 620px;
}
.article-text h1 {
    font-size: 84px;
}

.article-text p {
    font-size: 24px;
}

.article-a{
    align-self: flex-start;
    width: 200px;
    height: 72px;
    font-size: 18px;
    margin-top: 10px;
}

.section2 h1 {
    font-size: 32px;
}

.section2 h2 {
    font-size: 23px;
}




/****** ARTICLE*******/


article {
    margin-bottom: 10rem;
 }


/****** PRODUCT LIST *******/


.product-list {
    margin-bottom: 7rem;
}


/****** PRODUCT LIST POPULAR*******/

.product-list-popular {
    margin-bottom: 5rem;
}



/****** WHY US *******/


.why-us {
    margin-bottom: 3rem;
}


/****** FOOTER *******/


footer {
    margin: 0 -120px;
}



/****** IMAGE SIZES *******/



.header-logo {
    width: 80px;
    height: 40px;
}

.footer-logo {
    width: 87px;
    height: 87px;
}

.monitor {
    width: 230px;
    height: 228px;
}

.lamplight {
    width: 270px;
    height: 342px;
}

.earphonebig {
    width: 199px;
    height: 194px;
}

.lampdark {
    width: 360px;
    height: 360px;
}

.loudspeaker {
    width:133px;
    height: 133px;
}

.earphonesmall {
    width: 311px;
    height: 311px;
}

.lampround {
    width: 362px;
    height: 362px;
}

.loudspeakersmart {
    width: 312px;
    height: 311px;
}

.why-us_image{
    width: 483px;
    height: 299px;
}


